server/node_modules/
server/build/
server/.vscode
server/package-lock.json
server/.env
server/jest.config.js
server/coverage/

client/node_modules
client/node_modules
client/build
client/.DS_Store
client/.env
client/package-lock.json